TibcoProject/Schema/ResponseSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/TibcoProject/Schema/Schema1.xsd"
	 targetNamespace="http://www.tibco.com/schemas/TibcoProject/Schema/Schema1.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Output"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Result" type="xs:string"/>
</xs:schema>