TibcoProject/WSDl/concrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1586016432045" xmlns:ns0="http://www.tibco.com/schemas/TibcoProject/Schema/Schema.xsd" xmlns:ns1="http://www.tibco.com/schemas/TibcoProject/Schema/Schema1.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1586016432045">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TibcoProject/Schema/Schema1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TibcoProject/Schema/Schema1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Output">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Result" type="xs:string"/>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Output"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/TibcoProject/Schema/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TibcoProject/Schema/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Input">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Num1"/>
                        <xs:element ref="ns0:Num2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Num1" type="xs:string"/>
            <xs:element name="Num2" type="xs:string"/>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
            <soap:address location="http://localhost:9897/WSDl/Service.serviceagent/PortTypeEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="AddOperation">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SoapOperation">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SubOperation">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddOperation">
            <soap:operation style="document" soapAction="/WSDl/Service.serviceagent/PortTypeEndpoint1/AddOperation"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SoapOperation">
            <soap:operation style="document" soapAction="/WSDl/Service.serviceagent/PortTypeEndpoint1/SoapOperation"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubOperation">
            <soap:operation style="document" soapAction="/WSDl/Service.serviceagent/PortTypeEndpoint1/SubOperation"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InputMessage">
        <wsdl:part name="part1" element="ns0:Input"/>
    </wsdl:message>
    <wsdl:message name="OutputMessage">
        <wsdl:part name="part1" element="ns1:Output"/>
    </wsdl:message>
</wsdl:definitions>